@font-face {
    font-family: 'helvetica punk';
    src: url('fonts/Helvetica Punk.ttf');
}

body{
    background: linear-gradient(to right, #ff3b3b, #4a0276);
}

h1{
    font-size: 100px;
    color: rgb(95, 185, 141);
    text-align: center;
    margin-top: 50px;
    font-family: 'helvetica punk'; 
}

h2{
    font-size: 200px;
    color: rgb(138, 128, 255);
    text-align: center;
    margin-top: 50px;
    font-family: 'helvetica punk'; 
}

#busey{
    display: flex; 
    margin: auto; 
    width: 500px; 
    height: 500px;
}

